# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Anaconda / venv
# -------------------------
anaconda_projects/
env/
venv/
.venv/

# -------------------------
# Data (VIKTIG)
# -------------------------
ChestCanserV2/Data/

# -------------------------
# OS (Mac)
# -------------------------
.DS_Store

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Model files (valgfritt)
# -------------------------
*.h5
*.pt
*.pth
*.onnx

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.cache
